[submodule "hdl-benchmarks"]
	path = hdl-benchmarks
	url = https://github.com/ispras/hdl-benchmarks.git
[submodule "Open-EDA-Flow"]
	path = Open-EDA-Flow
	url = https://github.com/cbrynds/Open-EDA-Flow.git
[submodule "OpenABC"]
	path = OpenABC
	url = https://github.com/NYU-MLDA/OpenABC.git
